<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color: gray;
           color: white;
           text-align: center;
        }
        </style>

    <title>About Me</title>
  </head>

  <body>

    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="projects.html">My Projects</a>
      </li>
    </ul>
    <a class="navbar-nav ml-auto" href="https://github.com/gamalucas">
        <img src="../imgs/gitHub.png" alt="logo" style="width:40px;">
    </a>
  </nav>

  <div class="container-fluid">
    <h1>Gama, Lucas <small>- Software Development Methods and Tools</small></h1>
    <div class="card">
        <div class="card-body"> 
            <p>I'm an international student from Brazil. This is my third time living abroad, I have lived in New Zealand and Canada before coming to Boulder. My hobby is playing tennis. I'm studying computer science because I like technology.</p> 
        </div>
    </div>
    <img src="../imgs/me.jpg" width="530" height="650" class="rounded-circle" alt="image of myself"/>
    <h2>Interests</h2>
    <div class="row">
        <div class="col">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../imgs/code.jpeg" alt="Code image" width="300" height="168">
                <div class="card-body">
                  <h4 class="card-title">Coding</h4>
                  <p class="card-text">I like coding because it allows me to build anything.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../imgs/trading.jpeg" alt="trading image" width="300" height="168">
                <div class="card-body">
                  <h4 class="card-title">Investing</h4>
                  <p class="card-text">I like to invest because it makes me gain some money.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="../imgs/cooking.jpeg" alt="Cooking image" width="300" height="168">
                <div class="card-body">
                  <h4 class="card-title">Cooking</h4>
                  <p class="card-text">I like to cook because it makes me relax, and because it is fun.</p>
                </div>
            </div>
        </div>
    </div>

  </div>

  <div class="footer">
    <a href="http://linkedin.com/in/lucas-martins-gama-50baa5152">
        <img src="../imgs/linkedin.png" alt="logo" width="45" height="25">
    </a>
  </div>

  </body>
</html>